* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bg-aqua {
    padding: 30px;
    text-align: center;
    background: aqua;
}

.title-body {
    padding: 5px;
    text-align: center;
}

h3 {
    padding: 5px;
    text-align: center;
}

.bg-black-header {
    padding-top: 10px;
    text-align: center;
    background: black;
    color: aqua;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.bg-aqua-footer {
    padding: 30px;
    text-align: left;
    background: aqua;
    justify-content: space-around;
}

.overview {
    display: flex;
    margin: auto;
}


.bg-black-footer {
    text-align: center;
    background: black;
    color: rgb(175, 175, 175);
    padding: 30px;
}

.bg-aqua-footer-button {
    padding-bottom: 50px;
    text-align: center;
    background: aqua;
}